<nav>
    <ul>
        <!-- Cada posición del array es una parte de la URL: /principal/otro -->
        <li><a [routerLink]="['/principal']" [routerLinkActive]="'activo'">Principal</a></li>
        <li><a [routerLink]="['/info']" [routerLinkActive]="'activo'">Información</a></li>
        <li><a [routerLink]="['/sobre']" [routerLinkActive]="'activo'">Sobre Mi</a></li>
    </ul>
</nav>

<div>
    <button (click)="manejarClick('principal')">Principal</button>
    <button (click)="manejarClick('info')">Info</button>
    <button (click)="manejarClick('sobre')">Sobre Mí</button>
</div>

<router-outlet></router-outlet>